In [1]:
import pandas as pd
import numpy as np
import math
import os

In [2]:
os.chdir('/Users/juanantoniomschz/Documents/Proyectos/itesm_segregacion')

In [3]:
path_zmm = 'data/New data/ZMM_microsim.csv'

df_zmm = pd.read_csv(path_zmm).drop('Unnamed: 0', 1)
df_zmm['NuevoIndex'] = [math.floor(i) for i in df_zmm['NuevoIndex']]
df_zmm

,Ingreso.corriente,Dorm,TV,INT,PCs,Lavadoras,Consolas,Autos,Freq,NuevoIndex,CVEGEO
0,"(56910.43, 70753.588]",2masdorm,NoTVPaga,Internet,NoPC,Lavadora,Consola,Auto,1,18,1900600010051
1,"(70753.588, 94259.026]",2masdorm,NoTVPaga,Internet,NoPC,Lavadora,Consola,Auto,1,19,1900600010051
2,"(47398.508, 56910.43]",1dorm,TVPaga,Internet,NoPC,Lavadora,Consola,Auto,1,27,1900600010051
3,"(94259.026, 4033085.53]",2masdorm,TVPaga,Internet,NoPC,Lavadora,Consola,Auto,1,40,1900600010051
4,"(22207.824, 27625.002]",1dorm,TVPaga,NoInternet,NoPC,Lavadora,Consola,Auto,1,62,1900600010051
...,...,...,...,...,...,...,...,...,...,...,...
978229,"(56910.43, 70753.588]",2masdorm,NoTVPaga,NoInternet,PC,NoLavadora,NoConsola,NoAuto,2,1258,190460001177A
978230,"(56910.43, 70753.588]",2masdorm,NoTVPaga,NoInternet,PC,NoLavadora,NoConsola,NoAuto,2,1258,190460001177A
978231,"(33397.838, 39875.31]",2masdorm,TVPaga,NoInternet,PC,NoLavadora,NoConsola,NoAuto,3,1275,190460001177A
978232,"(33397.838, 39875.31]",2masdorm,TVPaga,NoInternet,PC,NoLavadora,NoConsola,NoAuto,3,1275,190460001177A
978233,"(33397.838, 39875.31]",2masdorm,TVPaga,NoInternet,PC,NoLavadora,NoConsola,NoAuto,3,1275,190460001177A

In [4]:
path_censo = 'data/Clean data/cons.csv'
df_censo = pd.read_csv(path_censo)
df_censo['Municipio'] = df_censo['Municipio'].str.replace(u"Ã¡", "a").str.replace(u"Ã­", "i")

municipios = ['Monterrey', 'San Pedro Garza Garcia', 'San Nicolas de los Garza', 'Guadalupe', 'Apodaca', 'General Escobedo']

df_censo = df_censo[df_censo['Municipio'].isin(municipios)]
df_censo.head()

,CVEGEO,Municipio,AGEB,1dorm,2masdorm,TVPaga,NoTVPaga,Internet,NoInternet,PC,...,Lavadora,NoLavadora,Refri,NoRefri,Telefono,NoTelefono,Auto,NoAuto,Consola,NoConsola
57,1900600010051,Apodaca,0051,148.0,504.0,276.0,376.0,450.0,202.0,264.0,...,583.0,69.0,639.0,13.0,387.0,265.0,348.0,304.0,62.0,590.0
58,1900600010066,Apodaca,0066,46.0,176.0,124.0,98.0,177.0,45.0,124.0,...,206.0,16.0,216.0,6.0,162.0,60.0,135.0,87.0,28.0,194.0
59,1900600010070,Apodaca,0070,149.0,275.0,183.0,241.0,280.0,144.0,197.0,...,375.0,49.0,410.0,14.0,277.0,147.0,245.0,179.0,63.0,361.0
60,1900600010085,Apodaca,0085,65.0,166.0,111.0,120.0,163.0,68.0,134.0,...,205.0,26.0,228.0,3.0,157.0,74.0,147.0,84.0,47.0,184.0
61,190060001009A,Apodaca,009A,67.0,138.0,87.0,118.0,146.0,59.0,102.0,...,173.0,32.0,202.0,3.0,131.0,74.0,118.0,87.0,25.0,180.0

In [28]:
df_zmm_mun = pd.merge(df_censo[['Municipio','AGEB']], df_zmm)
df_zmm_mun.head()

,Municipio,AGEB,Ingreso.corriente,Dorm,TV,INT,PCs,Lavadoras,Consolas,Autos,Freq,NuevoIndex
0,Apodaca,0051,"(56910.43, 70753.588]",2masdorm,NoTVPaga,Internet,NoPC,Lavadora,Consola,Auto,1,18
1,Apodaca,0051,"(70753.588, 94259.026]",2masdorm,NoTVPaga,Internet,NoPC,Lavadora,Consola,Auto,1,19
2,Apodaca,0051,"(47398.508, 56910.43]",1dorm,TVPaga,Internet,NoPC,Lavadora,Consola,Auto,1,27
3,Apodaca,0051,"(94259.026, 4033085.53]",2masdorm,TVPaga,Internet,NoPC,Lavadora,Consola,Auto,1,40
4,Apodaca,0051,"(22207.824, 27625.002]",1dorm,TVPaga,NoInternet,NoPC,Lavadora,Consola,Auto,1,62

In [32]:
path_ingreso = 'data/Clean data/ind_nobins.csv'

df_ingreso = pd.read_csv(path_ingreso)
df_ingreso['Municipio'] = df_ingreso['Municipio'].str.replace(u"Ã¡", "a").str.replace(u"Ã­", "i")
df_ingreso = df_ingreso[df_ingreso['Municipio'].isin(municipios)].reset_index()
df_ingreso['index'] = df_ingreso['index']+1
df_ingreso[15:20]

,index,Ingreso corriente,Municipio,Dorm,TV,INT,PCs,Lavadoras,Refrigeradoes,Tel,Consolas,Autos,Ingreso corriente cont
15,16,"(39875.31, 47398.508]",Apodaca,2masdorm,NoTVPaga,NoInternet,NoPC,Lavadora,Refri,Telefono,NoConsola,NoAuto,45542.90
16,17,"(94259.026, 4033085.53]",Apodaca,2masdorm,TVPaga,Internet,PC,Lavadora,Refri,Telefono,Consola,Auto,111023.75
17,18,"(22207.824, 27625.002]",Apodaca,1dorm,NoTVPaga,NoInternet,NoPC,NoLavadora,NoRefri,NoTelefono,NoConsola,NoAuto,24882.53
18,19,"(33397.838, 39875.31]",Apodaca,1dorm,NoTVPaga,NoInternet,NoPC,Lavadora,Refri,NoTelefono,NoConsola,Auto,37822.67
19,20,"(39875.31, 47398.508]",Apodaca,2masdorm,TVPaga,NoInternet,NoPC,Lavadora,Refri,NoTelefono,NoConsola,Auto,42787.25

In [33]:
df_zmm.head()

,Ingreso.corriente,Dorm,TV,INT,PCs,Lavadoras,Consolas,Autos,Freq,NuevoIndex,AGEB
0,"(56910.43, 70753.588]",2masdorm,NoTVPaga,Internet,NoPC,Lavadora,Consola,Auto,1,18,0051
1,"(70753.588, 94259.026]",2masdorm,NoTVPaga,Internet,NoPC,Lavadora,Consola,Auto,1,19,0051
2,"(47398.508, 56910.43]",1dorm,TVPaga,Internet,NoPC,Lavadora,Consola,Auto,1,27,0051
3,"(94259.026, 4033085.53]",2masdorm,TVPaga,Internet,NoPC,Lavadora,Consola,Auto,1,40,0051
4,"(22207.824, 27625.002]",1dorm,TVPaga,NoInternet,NoPC,Lavadora,Consola,Auto,1,62,0051

In [38]:
df_ingreso[(df_ingreso['Dorm']=='2masdorm') & (df_ingreso['TV']=='NoTVPaga') & (df_ingreso['INT']=='Internet') & 
          (df_ingreso['PCs']=='NoPC') & (df_ingreso['Lavadoras']=='Lavadora') & (df_ingreso['Consolas']=='Consola') & 
          (df_ingreso['Autos']=='Auto') & (df_ingreso['Ingreso corriente']=='(56910.43, 70753.588]')]

,index,Ingreso corriente,Municipio,Dorm,TV,INT,PCs,Lavadoras,Refrigeradoes,Tel,Consolas,Autos,Ingreso corriente cont
722,723,"(56910.43, 70753.588]",Guadalupe,2masdorm,NoTVPaga,Internet,NoPC,Lavadora,Refri,Telefono,Consola,Auto,58352.44
981,1183,"(56910.43, 70753.588]",Monterrey,2masdorm,NoTVPaga,Internet,NoPC,Lavadora,Refri,Telefono,Consola,Auto,57853.06

In [39]:
df_ingreso[(df_ingreso['Dorm']=='2masdorm') & (df_ingreso['TV']=='NoTVPaga') & (df_ingreso['INT']=='Internet') & 
          (df_ingreso['PCs']=='NoPC') & (df_ingreso['Lavadoras']=='Lavadora') & (df_ingreso['Consolas']=='Consola') & 
          (df_ingreso['Autos']=='Auto') & (df_ingreso['Ingreso corriente']=='(70753.588, 94259.026]')]

,index,Ingreso corriente,Municipio,Dorm,TV,INT,PCs,Lavadoras,Refrigeradoes,Tel,Consolas,Autos,Ingreso corriente cont
325,326,"(70753.588, 94259.026]",General Escobedo,2masdorm,NoTVPaga,Internet,NoPC,Lavadora,Refri,Telefono,Consola,Auto,70804.23
1000,1202,"(70753.588, 94259.026]",Monterrey,2masdorm,NoTVPaga,Internet,NoPC,Lavadora,Refri,Telefono,Consola,Auto,86488.50
1311,1513,"(70753.588, 94259.026]",San Nicolas de los Garza,2masdorm,NoTVPaga,Internet,NoPC,Lavadora,Refri,Telefono,Consola,Auto,87917.24

In [8]:
df_ingreso_ind = df_ingreso[['index','Ingreso corriente cont']]
df_ingreso_ind[:20]

    index  Ingreso corriente cont
0       1                22405.34
1       2                28812.91
2       3                92008.55
3       4                77547.52
4       5               246393.36
5       6                56385.23
6       7                52932.76
7       8                57802.63
8       9                 7826.08
9      10               108586.95
10     11                29083.67
11     12                78146.18
12     13                54484.68
13     14               113941.11
14     15               123924.05
15     16                45542.90
16     17               111023.75
17     18                24882.53
18     19                37822.67
19     20                42787.25

In [29]:
df_micro = pd.merge(df_zmm_mun, df_ingreso_ind, left_on = 'NuevoIndex', right_on = 'index', how = 'left')
df_micro.head()

,Municipio,AGEB,Ingreso.corriente,Dorm,TV,INT,PCs,Lavadoras,Consolas,Autos,Freq,NuevoIndex,index,Ingreso corriente cont
0,Apodaca,0051,"(56910.43, 70753.588]",2masdorm,NoTVPaga,Internet,NoPC,Lavadora,Consola,Auto,1,18,18.0,24882.53
1,Apodaca,0051,"(70753.588, 94259.026]",2masdorm,NoTVPaga,Internet,NoPC,Lavadora,Consola,Auto,1,19,19.0,37822.67
2,Apodaca,0051,"(47398.508, 56910.43]",1dorm,TVPaga,Internet,NoPC,Lavadora,Consola,Auto,1,27,27.0,34395.30
3,Apodaca,0051,"(94259.026, 4033085.53]",2masdorm,TVPaga,Internet,NoPC,Lavadora,Consola,Auto,1,40,40.0,75158.04
4,Apodaca,0051,"(22207.824, 27625.002]",1dorm,TVPaga,NoInternet,NoPC,Lavadora,Consola,Auto,1,62,62.0,84868.79

In [67]:
df_ingreso[(df_ingreso['Dorm']=='2masdorm') & (df_ingreso['TV']=='NoTVPaga') & (df_ingreso['INT']=='Internet') & 
          (df_ingreso['PCs']=='NoPC') & (df_ingreso['Lavadoras']=='Lavadora') & (df_ingreso['Consolas']=='Consola') & 
          (df_ingreso['Autos']=='Auto')]

,index,Ingreso corriente,Municipio,Dorm,TV,INT,PCs,Lavadoras,Refrigeradoes,Tel,Consolas,Autos,Ingreso corriente cont
13,14,"(94259.026, 4033085.53]",Apodaca,2masdorm,NoTVPaga,Internet,NoPC,Lavadora,Refri,Telefono,Consola,Auto,113941.11
33,34,"(94259.026, 4033085.53]",Apodaca,2masdorm,NoTVPaga,Internet,NoPC,Lavadora,Refri,NoTelefono,Consola,Auto,111556.43
141,142,"(39875.31, 47398.508]",Apodaca,2masdorm,NoTVPaga,Internet,NoPC,Lavadora,Refri,Telefono,Consola,Auto,42491.79
186,187,"(39875.31, 47398.508]",Apodaca,2masdorm,NoTVPaga,Internet,NoPC,Lavadora,Refri,NoTelefono,Consola,Auto,47365.53
269,270,"(94259.026, 4033085.53]",San Pedro Garza Garcia,2masdorm,NoTVPaga,Internet,NoPC,Lavadora,Refri,Telefono,Consola,Auto,152119.54
325,326,"(70753.588, 94259.026]",General Escobedo,2masdorm,NoTVPaga,Internet,NoPC,Lavadora,Refri,Telefono,Consola,Auto,70804.23
705,706,"(47398.508, 56910.43]",Guadalupe,2masdorm,NoTVPaga,Internet,NoPC,Lavadora,Refri,Telefono,Consola,Auto,53724.10
722,723,"(56910.43, 70753.588]",Guadalupe,2masdorm,NoTVPaga,Internet,NoPC,Lavadora,Refri,Telefono,Consola,Auto,58352.44
981,1183,"(56910.43, 70753.588]",Monterrey,2masdorm,NoTVPaga,Internet,NoPC,Lavadora,Refri,Telefono,Consola,Auto,57853.06
1000,1202,"(70753.588, 94259.026]",Monterrey,2masdorm,NoTVPaga,Internet,NoPC,Lavadora,Refri,Telefono,Consola,Auto,86488.50
1296,1498,"(94259.026, 4033085.53]",San Nicolas de los Garza,2masdorm,NoTVPaga,Internet,NoPC,Lavadora,Refri,Telefono,Consola,Auto,96073.71
1311,1513,"(70753.588, 94259.026]",San Nicolas de los Garza,2masdorm,NoTVPaga,Internet,NoPC,Lavadora,Refri,Telefono,Consola,Auto,87917.24