In [1]:
import pandas as pd
import numpy as np
import os

pd.options.display.max_columns = None

In [2]:
os.chdir('/Users/juanantoniomschz/Documents/Proyectos/itesm_segregacion/')

In [3]:
path_folio = 'data/ENIGH/vivienda/conjunto_de_datos/conjunto_de_datos_viviendas_enigh_2018_ns.csv'

df_folio = pd.read_csv(path_folio, usecols = ['folioviv','ubica_geo'])
df_folio = df_folio.drop_duplicates('folioviv')
print(df_folio.shape)
df_folio.head(4)

(73405, 2)

    folioviv  ubica_geo
0  100013601       1001
1  100013602       1001
2  100013603       1001
3  100013604       1001

In [4]:
path_ubi = 'data/ENIGH/concentrado_hogar/catalogos/ubic_geo.csv'

df_ubi = pd.read_csv(path_ubi, encoding = 'Latin-1')
print(df_ubi.shape)
df_ubi.head(4)

(2544, 5)

   ubic_geo  entidad        desc_ent  municipio          des_mun
0         0        0       No aplica          0        No aplica
1      1000        1  Aguascalientes       1000  No identificado
2      1001        1  Aguascalientes       1001   Aguascalientes
3      1002        1  Aguascalientes       1002         Asientos

In [5]:
path_hogares = 'data/ENIGH/hogares/conjunto_de_datos/conjunto_de_datos_hogares_enigh_2018_ns.csv'

df_hog = pd.read_csv(path_hogares, encoding = 'Latin-1')
df_hog = df_hog[df_hog['foliohog']==1]
print(df_hog.shape)
df_hog.head()

/Users/juanantoniomschz/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (57,63,71,77,79,81,83,87) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

(73405, 137)

,folioviv,foliohog,huespedes,huesp_come,num_trab_d,trab_come,acc_alim1,acc_alim2,acc_alim3,acc_alim4,acc_alim5,acc_alim6,acc_alim7,acc_alim8,acc_alim9,acc_alim10,acc_alim11,acc_alim12,acc_alim13,acc_alim14,acc_alim15,acc_alim16,alim17_1,alim17_2,alim17_3,alim17_4,alim17_5,alim17_6,alim17_7,alim17_8,alim17_9,alim17_10,alim17_11,alim17_12,acc_alim18,telefono,celular,tv_paga,conex_inte,num_auto,anio_auto,num_van,anio_van,num_pickup,anio_pickup,num_moto,anio_moto,num_bici,anio_bici,num_trici,anio_trici,num_carret,anio_carret,num_canoa,anio_canoa,num_otro,anio_otro,num_ester,anio_ester,num_grab,anio_grab,num_radio,anio_radio,num_tva,anio_tva,num_tvd,anio_tvd,num_dvd,anio_dvd,num_video,anio_video,num_licua,anio_licua,num_tosta,anio_tosta,num_micro,anio_micro,num_refri,anio_refri,num_estuf,anio_estuf,num_lavad,anio_lavad,num_planc,anio_planc,num_maqui,anio_maqui,num_venti,anio_venti,num_aspir,anio_aspir,num_compu,anio_compu,num_impre,anio_impre,num_juego,anio_juego,esc_radio,er_aparato,er_celular,er_compu,er_aplicac,er_tv,er_otro,recib_tvd,tsalud1_h,tsalud1_m,habito_1,habito_2,habito_3,habito_4,habito_5,habito_6,consumo,nr_viv,tarjeta,pagotarjet,regalotar,regalodado,autocons,regalos,remunera,transferen,parto_g,embarazo_g,negcua,est_alim,est_trans,bene_licon,cond_licon,lts_licon,otros_lts,diconsa,frec_dicon,cond_dicon,pago_dicon,otro_pago
0,100013601,1,0,,0,,2,2,2,2,2,2,,,,,,,,,,,7,1,7,7,4,7,1,7,7,7,7,7,1,1,1,1,1,1,6,0,,0,,0,,1,7,0,,0,,0,,0,,1,12,0,,1,18,0,,2,16,0,,0,,1,15,0,,1,12,1,3,1,98,1,6,1,18,1,78,1,18,1,18,1,8,0,,0,,1,1,,,,,,,0,2,,,3,,,,2,,2,2,2,2,2,2,2,1,2,2,2,10000,0,2,,,,2,,,,
1,100013602,1,0,,0,,2,2,2,1,2,1,2,2,2,1,1,1,1,2,1,2,7,3,4,3,3,2,0,5,7,5,7,7,1,1,1,2,1,2,7,0,,0,,0,,0,,0,,0,,0,,0,,2,13,0,,1,98,1,98,2,14,2,13,0,,1,98,1,95,1,14,1,16,1,8,1,15,1,12,1,8,1,12,1,13,2,17,1,16,1,10,2,,,,,,,,0,40,,,,,5,,,,1,1,2,2,2,1,2,2,2,2,2,4050,465,2,,,,2,,,,
2,100013603,1,0,,0,,2,2,2,2,2,2,,,,,,,,,,,4,2,5,4,5,3,2,2,3,4,4,4,1,2,1,1,1,0,,0,,1,18,0,,0,,0,,0,,0,,0,,2,16,0,,0,,0,,2,15,0,,0,,1,16,1,16,1,17,1,4,1,4,1,8,1,16,0,,1,16,0,,1,15,0,,0,,1,1,,,,,,,0,10,,,3,,,,1,,1,1,2,2,2,1,2,1,2,2,2,4300,1000,2,,,,9,,,,
3,100013604,1,0,,0,,2,2,2,2,2,2,,,,,,,,,,,7,3,7,7,4,7,1,5,2,7,7,4,1,1,1,1,1,0,,0,,1,6,0,,0,,0,,0,,0,,0,,0,,0,,1,13,2,8,1,16,0,,0,,1,12,1,8,1,10,1,6,1,8,1,6,1,12,1,10,5,12,0,,0,,0,,0,,1,,2,,,,,,0,10,,,3,,,,2,,2,2,2,2,2,1,2,1,2,2,2,4000,0,2,,,,2,,,,
4,100013606,1,0,,0,,1,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,7,1,1,7,3,7,0,2,7,7,7,7,1,2,1,1,2,0,,0,,0,,0,,0,,0,,0,,0,,0,,1,12,0,,0,,0,,2,10,0,,0,,1,12,1,15,1,13,1,10,1,13,1,8,1,13,0,,0,,0,,0,,0,,0,,1,,,,4,5,,,0,5,,,,,5,,,,2,2,2,2,2,1,2,2,2,2,2,9000,300,2,,,,2,,,,

In [6]:
path_viv = 'data/ENIGH/vivienda/conjunto_de_datos/conjunto_de_datos_viviendas_enigh_2018_ns.csv'

df_viv = pd.read_csv(path_viv)
df_viv.head(4)

/Users/juanantoniomschz/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (4,24) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,folioviv,tipo_viv,mat_pared,mat_techos,mat_pisos,antiguedad,antigua_ne,cocina,cocina_dor,cuart_dorm,num_cuarto,disp_agua,dotac_agua,excusado,uso_compar,sanit_agua,biodigest,bano_comp,bano_excus,bano_regad,drenaje,disp_elect,focos_inca,focos_ahor,combustible,estufa_chi,eli_basura,tenencia,renta,estim_pago,pago_viv,pago_mesp,tipo_adqui,viv_usada,tipo_finan,num_dueno1,hog_dueno1,num_dueno2,hog_dueno2,escrituras,lavadero,fregadero,regadera,tinaco_azo,cisterna,pileta,calent_sol,calent_gas,medidor_luz,bomba_agua,tanque_gas,aire_acond,calefacc,tot_resid,tot_hom,tot_muj,tot_hog,ubica_geo,tam_loc,est_socio,est_dis,upm,factor,procaptar
0,100013601,1,8,10,3,42,,1,2,4,6,1,1,1,2,1,2,1,0,0,1,1,0,6,4,,3,4,,4000,,,1,2,5,1,1,,,1,1,1,1,1,1,2,1,1,1,1,2,2,2,3,2,1,1,1001,1,3,2,1,175,0
1,100013602,1,8,10,3,40,,1,2,5,6,1,1,1,2,1,2,3,0,0,1,1,0,12,4,,3,2,,8000,,,,,,,,,,,1,1,1,1,1,2,2,1,1,1,2,2,2,5,2,3,1,1001,1,3,2,1,175,0
2,100013603,1,8,10,3,50,,1,2,2,7,1,1,1,2,1,2,3,0,0,1,1,0,12,3,,3,4,,6000,,,1,1,2,1,1,,,1,1,1,1,1,1,2,2,1,1,1,1,2,2,2,1,1,1,1001,1,3,2,1,175,0
3,100013604,1,8,10,3,45,,1,2,2,5,1,1,1,2,1,2,1,0,0,1,1,0,7,4,,3,4,,4000,,,1,2,2,1,1,,,1,1,1,1,1,1,2,1,1,1,1,2,2,2,2,1,1,1,1001,1,3,2,1,175,0

In [7]:
path_ing = 'data/ENIGH/concentrado_hogar/conjunto_de_datos/conjunto_de_datos_concentradohogar_enigh_2018_ns.csv'

df_ing = pd.read_csv(path_ing, usecols = ['folioviv','ing_cor'])
df_ing.head()

    folioviv    ing_cor
0  100013601   76403.70
1  100013602   42987.73
2  100013603  580697.74
3  100013604   46252.71
4  100013606   53837.09

In [8]:
df_location = pd.merge(df_folio, df_ubi, left_on = 'ubica_geo',
                       right_on = 'ubic_geo', how = 'inner').drop('ubic_geo', 1)

df_location.head()

    folioviv  ubica_geo  entidad        desc_ent  municipio         des_mun
0  100013601       1001        1  Aguascalientes       1001  Aguascalientes
1  100013602       1001        1  Aguascalientes       1001  Aguascalientes
2  100013603       1001        1  Aguascalientes       1001  Aguascalientes
3  100013604       1001        1  Aguascalientes       1001  Aguascalientes
4  100013606       1001        1  Aguascalientes       1001  Aguascalientes

In [9]:
df_main = pd.merge(df_location, df_viv)
df_main = pd.merge(df_main, df_ing)
df_main = df_main[df_main['entidad']==19]
df_main.head()

,folioviv,ubica_geo,entidad,desc_ent,municipio,des_mun,tipo_viv,mat_pared,mat_techos,mat_pisos,antiguedad,antigua_ne,cocina,cocina_dor,cuart_dorm,num_cuarto,disp_agua,dotac_agua,excusado,uso_compar,sanit_agua,biodigest,bano_comp,bano_excus,bano_regad,drenaje,disp_elect,focos_inca,focos_ahor,combustible,estufa_chi,eli_basura,tenencia,renta,estim_pago,pago_viv,pago_mesp,tipo_adqui,viv_usada,tipo_finan,num_dueno1,hog_dueno1,num_dueno2,hog_dueno2,escrituras,lavadero,fregadero,regadera,tinaco_azo,cisterna,pileta,calent_sol,calent_gas,medidor_luz,bomba_agua,tanque_gas,aire_acond,calefacc,tot_resid,tot_hom,tot_muj,tot_hog,tam_loc,est_socio,est_dis,upm,factor,procaptar,ing_cor
42991,1900001901,19006,19,Nuevo Leon,19006,Apodaca,1,8,10,2,,1,1,2,1,2,1,1,1,2,1,2,0,1,1,1,1,0,6,3,,1,1,1600,,,1,,,,,,,,,1,1,1,2,2,2,2,2,1,2,2,2,2,3,2,1,1,1,3,298,4850,831,0,22405.34
42992,1900001903,19006,19,Nuevo Leon,19006,Apodaca,1,8,10,3,40,,1,2,2,5,1,1,1,2,1,2,1,0,0,1,1,0,9,4,,1,4,,3000,,,2,,5,1,1,,,1,1,1,1,2,2,2,2,1,1,2,2,2,2,2,1,1,1,1,3,298,4850,831,0,28812.91
42993,1900001906,19006,19,Nuevo Leon,19006,Apodaca,1,8,10,3,4,,1,2,2,3,1,1,1,2,1,2,1,1,0,1,1,0,10,4,,1,3,,3000,4000,1,1,2,1,1,1,,,1,1,1,1,2,2,2,2,1,1,2,2,2,2,4,3,1,1,1,3,298,4850,831,0,92008.55
42994,1900016802,19006,19,Nuevo Leon,19006,Apodaca,1,8,10,3,51,,1,2,3,6,1,1,1,2,1,2,2,0,0,1,1,0,30,4,,1,4,,6000,,,3,,5,2,1,,,1,1,1,1,2,2,2,2,1,1,2,2,1,1,2,1,1,1,1,3,298,4851,648,0,77547.52
42995,1900016803,19006,19,Nuevo Leon,19006,Apodaca,1,8,10,3,31,,1,2,5,9,1,1,1,2,1,2,2,1,0,1,1,0,12,4,,1,4,,7000,,,3,,5,1,1,2,1,1,1,1,1,2,2,2,2,1,1,2,2,1,2,9,4,5,1,1,3,298,4851,648,0,246393.36

In [10]:
df_inegi = pd.merge(df_main, df_hog)
df_inegi.head()

,folioviv,ubica_geo,entidad,desc_ent,municipio,des_mun,tipo_viv,mat_pared,mat_techos,mat_pisos,antiguedad,antigua_ne,cocina,cocina_dor,cuart_dorm,num_cuarto,disp_agua,dotac_agua,excusado,uso_compar,sanit_agua,biodigest,bano_comp,bano_excus,bano_regad,drenaje,disp_elect,focos_inca,focos_ahor,combustible,estufa_chi,eli_basura,tenencia,renta,estim_pago,pago_viv,pago_mesp,tipo_adqui,viv_usada,tipo_finan,num_dueno1,hog_dueno1,num_dueno2,hog_dueno2,escrituras,lavadero,fregadero,regadera,tinaco_azo,cisterna,pileta,calent_sol,calent_gas,medidor_luz,bomba_agua,tanque_gas,aire_acond,calefacc,tot_resid,tot_hom,tot_muj,tot_hog,tam_loc,est_socio,est_dis,upm,factor,procaptar,ing_cor,foliohog,huespedes,huesp_come,num_trab_d,trab_come,acc_alim1,acc_alim2,acc_alim3,acc_alim4,acc_alim5,acc_alim6,acc_alim7,acc_alim8,acc_alim9,acc_alim10,acc_alim11,acc_alim12,acc_alim13,acc_alim14,acc_alim15,acc_alim16,alim17_1,alim17_2,alim17_3,alim17_4,alim17_5,alim17_6,alim17_7,alim17_8,alim17_9,alim17_10,alim17_11,alim17_12,acc_alim18,telefono,celular,tv_paga,conex_inte,num_auto,anio_auto,num_van,anio_van,num_pickup,anio_pickup,num_moto,anio_moto,num_bici,anio_bici,num_trici,anio_trici,num_carret,anio_carret,num_canoa,anio_canoa,num_otro,anio_otro,num_ester,anio_ester,num_grab,anio_grab,num_radio,anio_radio,num_tva,anio_tva,num_tvd,anio_tvd,num_dvd,anio_dvd,num_video,anio_video,num_licua,anio_licua,num_tosta,anio_tosta,num_micro,anio_micro,num_refri,anio_refri,num_estuf,anio_estuf,num_lavad,anio_lavad,num_planc,anio_planc,num_maqui,anio_maqui,num_venti,anio_venti,num_aspir,anio_aspir,num_compu,anio_compu,num_impre,anio_impre,num_juego,anio_juego,esc_radio,er_aparato,er_celular,er_compu,er_aplicac,er_tv,er_otro,recib_tvd,tsalud1_h,tsalud1_m,habito_1,habito_2,habito_3,habito_4,habito_5,habito_6,consumo,nr_viv,tarjeta,pagotarjet,regalotar,regalodado,autocons,regalos,remunera,transferen,parto_g,embarazo_g,negcua,est_alim,est_trans,bene_licon,cond_licon,lts_licon,otros_lts,diconsa,frec_dicon,cond_dicon,pago_dicon,otro_pago
0,1900001901,19006,19,Nuevo Leon,19006,Apodaca,1,8,10,2,,1,1,2,1,2,1,1,1,2,1,2,0,1,1,1,1,0,6,3,,1,1,1600,,,1,,,,,,,,,1,1,1,2,2,2,2,2,1,2,2,2,2,3,2,1,1,1,3,298,4850,831,0,22405.34,1,0,,0,,2,2,2,2,2,2,,,,,,,,,,,7,1,7,1,3,3,0,7,7,7,7,7,1,2,1,2,2,0,,0,,0,,0,,0,,0,,0,,0,,0,,0,,0,,0,,0,,1,16,0,,0,,1,15,0,,0,,1,13,1,18,1,18,1,18,0,,1,14,0,,0,,0,,0,,2,,,,,,,,1,0,,,3,,5,,2,,2,2,2,2,2,2,2,2,2,2,2,3800,,2,,,,2,,,,
1,1900001903,19006,19,Nuevo Leon,19006,Apodaca,1,8,10,3,40,,1,2,2,5,1,1,1,2,1,2,1,0,0,1,1,0,9,4,,1,4,,3000,,,2,,5,1,1,,,1,1,1,1,2,2,2,2,1,1,2,2,2,2,2,1,1,1,1,3,298,4850,831,0,28812.91,1,0,,0,,2,2,2,2,2,2,,,,,,,,,,,6,2,7,3,3,4,0,5,7,6,7,7,1,2,1,2,2,0,,1,17,0,,0,,0,,0,,0,,0,,0,,0,,0,,0,,0,,2,14,0,,0,,1,14,0,,0,,1,3,1,3,1,18,1,8,0,,1,15,0,,0,,0,,0,,2,,,,,,,,0,30,,,3,,,,2,,2,2,2,2,2,2,1,2,2,2,2,3200,,2,,,,2,,,,
2,1900001906,19006,19,Nuevo Leon,19006,Apodaca,1,8,10,3,4,,1,2,2,3,1,1,1,2,1,2,1,1,0,1,1,0,10,4,,1,3,,3000,4000,1,1,2,1,1,1,,,1,1,1,1,2,2,2,2,1,1,2,2,2,2,4,3,1,1,1,3,298,4850,831,0,92008.55,1,0,,0,,2,2,2,2,2,2,,,,,,,,,,,7,7,7,7,3,6,1,7,7,7,7,7,1,1,1,2,2,1,3,1,16,0,,0,,0,,0,,0,,0,,0,,0,,1,7,0,,1,8,1,15,0,,0,,1,13,0,,1,18,1,8,1,8,1,8,1,8,0,,3,18,0,,1,18,1,15,0,,1,1,,,,,,,0,15,,2,,,,,2,,2,2,2,2,2,2,1,2,2,2,2,4400,1200,2,,,,2,,,,
3,1900016802,19006,19,Nuevo Leon,19006,Apodaca,1,8,10,3,51,,1,2,3,6,1,1,1,2,1,2,2,0,0,1,1,0,30,4,,1,4,,6000,,,3,,5,2,1,,,1,1,1,1,2,2,2,2,1,1,2,2,1,1,2,1,1,1,1,3,298,4851,648,0,77547.52,1,0,,0,,2,2,2,2,2,2,,,,,,,,,,,7,3,3,7,3,7,2,4,7,7,7,7,1,1,1,1,1,1,15,0,,1,9,0,,0,,0,,0,,0,,0,,1,10,1,15,1,15,0,,4,17,2,15,1,10,1,0,1,90,1,8,1,14,1,1,1,72,1,98,1,&,4,3,1,3,1,13,1,13,0,,2,,,,,,,1,0,40,,,,,5,,,,1,2,2,2,2,2,2,2,2,2,2,2200,0,2,,,,9,,,,
4,1900016803,19006,19,Nuevo Leon,19006,Apodaca,1,8,10,3,31,,1,2,5,9,1,1,1,2,1,2,2,1,0,1,1,0,12,4,,1,4,,7000,,,3,,5,1,1,2,1,1,1,1,1,2,2,2,2,1,1,2,2,1,2,9,4,5,1,1,3,298,4851,648,0,246393.36,1,0,,0,,2,2,2,2,2,2,,,,,,,,,,,7,7,7,7,7,7,3,7,7,7,7,0,1,1,1,2,1,1,13,2,15,0,,0,,0,,0,,0,,0,,0,,0,,0,,0,,1,90,4,17,0,,0,,1,15,0,,1,17,1,12,1,10,1,4,1,15,0,,3,18,0,,1,15,0,,2,17,2,,,,,,,2,0,15,,,3,,,,2,,2,2,2,2,2,2,2,2,2,2,2,14300,,2,,,,9,,,,

In [11]:
cols = ['desc_ent', 'des_mun', 'cuart_dorm', 'tv_paga', 'conex_inte', 'num_compu', 'num_lavad', 'num_refri',
       'telefono', 'num_auto','num_van','num_juego', 'ing_cor']

df_ind = df_inegi[cols]
df_ind['num_auto_correcto'] = df_ind['num_auto'] + df_ind['num_van']
df_ind.drop(['num_auto','num_van'], 1, inplace = True)
df_ind.head()

<ipython-input-11-b94429f45ca9>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ind['num_auto_correcto'] = df_ind['num_auto'] + df_ind['num_van']
/Users/juanantoniomschz/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,desc_ent,des_mun,cuart_dorm,tv_paga,conex_inte,num_compu,num_lavad,num_refri,telefono,num_juego,ing_cor,num_auto_correcto
0,Nuevo Leon,Apodaca,1,2,2,0,1,1,2,0,22405.34,0
1,Nuevo Leon,Apodaca,2,2,2,0,1,1,2,0,28812.91,1
2,Nuevo Leon,Apodaca,2,2,2,1,1,1,1,0,92008.55,2
3,Nuevo Leon,Apodaca,3,1,1,1,1,1,1,0,77547.52,1
4,Nuevo Leon,Apodaca,5,2,1,1,1,1,1,2,246393.36,3

In [12]:
df_ind.describe()

,cuart_dorm,tv_paga,conex_inte,num_compu,telefono,num_juego,ing_cor,num_auto_correcto
count,3043.000000,3043.000000,3043.000000,3043.000000,3043.000000,3043.000000,3.043000e+03,3043.000000
mean,2.010845,1.576405,1.579362,0.280644,1.604666,0.140322,5.375962e+04,0.598094
std,0.843165,0.494209,0.493743,0.569418,0.489003,0.392686,1.021902e+05,0.756186
min,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,3.182320e+03,0.000000
25%,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,2.512235e+04,0.000000
50%,2.000000,2.000000,2.000000,0.000000,2.000000,0.000000,3.987531e+04,0.000000
75%,2.000000,2.000000,2.000000,0.000000,2.000000,0.000000,6.280457e+04,1.000000
max,6.000000,2.000000,2.000000,4.000000,2.000000,5.000000,4.033086e+06,6.000000

In [13]:
df_ind['cuart_dorm'] = ['1dorm' if x==1 else '2masdorm' for x in df_ind['cuart_dorm']]

df_ind['tv_paga'] = ['TVPaga' if x==1 else 'NoTVPaga' for x in df_ind['tv_paga']]

df_ind['num_compu'] = ['PC' if x!=0 else 'NoPC' for x in df_ind['num_compu']]

df_ind['num_lavad'] = ['Lavadora' if x!=0 else 'NoLavadora' for x in df_ind['num_lavad']]

df_ind['num_refri'] = ['Refri' if x!=0 else 'NoRefri' for x in df_ind['num_refri']]

df_ind['conex_inte'] = ['Internet' if x==1 else 'NoInternet' for x in df_ind['conex_inte']]

df_ind['telefono'] = ['Telefono' if x==1 else 'NoTelefono' for x in df_ind['telefono']]

df_ind['num_auto_correcto'] = ['Auto' if x>0 else 'NoAuto' for x in df_ind['num_auto_correcto']]

df_ind['num_juego'] = ['Consola' if x>0 else 'NoConsola' for x in df_ind['num_juego']]

df_ind

<ipython-input-13-29577aae6b43>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ind['cuart_dorm'] = ['1dorm' if x==1 else '2masdorm' for x in df_ind['cuart_dorm']]
<ipython-input-13-29577aae6b43>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ind['tv_paga'] = ['TVPaga' if x==1 else 'NoTVPaga' for x in df_ind['tv_paga']]
<ipython-input-13-29577aae6b43>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ind['num_compu'] = ['PC' if x!=0 else 'NoPC' for x in df_ind['num_compu']]
<ipython-input-13-29577aae6b43>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ind['num_lavad'] = ['Lavadora' if x!=0 else 'NoLavadora' for x in df_ind['num_lavad']]
<ipython-input-13-29577aae6b43>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ind['num_refri'] = ['Refri' if x!=0 else 'NoRefri' for x in df_ind['num_refri']]
<ipython-input-13-29577aae6b43>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ind['conex_inte'] = ['Internet' if x==1 else 'NoInternet' for x in df_ind['conex_inte']]
<ipython-input-13-29577aae6b43>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ind['telefono'] = ['Telefono' if x==1 else 'NoTelefono' for x in df_ind['telefono']]
<ipython-input-13-29577aae6b43>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ind['num_auto_correcto'] = ['Auto' if x>0 else 'NoAuto' for x in df_ind['num_auto_correcto']]
<ipython-input-13-29577aae6b43>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ind['num_juego'] = ['Consola' if x>0 else 'NoConsola' for x in df_ind['num_juego']]

,desc_ent,des_mun,cuart_dorm,tv_paga,conex_inte,num_compu,num_lavad,num_refri,telefono,num_juego,ing_cor,num_auto_correcto
0,Nuevo Leon,Apodaca,1dorm,NoTVPaga,NoInternet,NoPC,Lavadora,Refri,NoTelefono,NoConsola,22405.34,NoAuto
1,Nuevo Leon,Apodaca,2masdorm,NoTVPaga,NoInternet,NoPC,Lavadora,Refri,NoTelefono,NoConsola,28812.91,Auto
2,Nuevo Leon,Apodaca,2masdorm,NoTVPaga,NoInternet,PC,Lavadora,Refri,Telefono,NoConsola,92008.55,Auto
3,Nuevo Leon,Apodaca,2masdorm,TVPaga,Internet,PC,Lavadora,Refri,Telefono,NoConsola,77547.52,Auto
4,Nuevo Leon,Apodaca,2masdorm,NoTVPaga,Internet,PC,Lavadora,Refri,Telefono,Consola,246393.36,Auto
...,...,...,...,...,...,...,...,...,...,...,...,...
3038,Nuevo Leon,Vallecillo,2masdorm,NoTVPaga,NoInternet,NoPC,Lavadora,Refri,NoTelefono,NoConsola,26006.54,NoAuto
3039,Nuevo Leon,Vallecillo,2masdorm,TVPaga,NoInternet,NoPC,Lavadora,Refri,NoTelefono,NoConsola,11645.08,NoAuto
3040,Nuevo Leon,Vallecillo,2masdorm,TVPaga,Internet,PC,Lavadora,Refri,Telefono,NoConsola,75635.10,NoAuto
3041,Nuevo Leon,Vallecillo,2masdorm,TVPaga,Internet,PC,Lavadora,Refri,Telefono,NoConsola,47142.84,Auto
3042,Nuevo Leon,Vallecillo,1dorm,TVPaga,NoInternet,NoPC,Lavadora,Refri,NoTelefono,NoConsola,24319.66,NoAuto

In [21]:
df_ind.columns = ['Municipio', 'Dorm', 'TV', 'INT',
       'PCs', 'Lavadoras', 'Refrigeradoes', 'Tel', 'Consolas',
       'Ingreso corriente', 'Autos']

df_ind = df_ind[['Municipio', 'Dorm', 'TV', 'INT',
       'PCs', 'Lavadoras', 'Refrigeradoes', 'Tel', 'Consolas',
       'Autos','Ingreso corriente']]

df_ind.head()

,Municipio,Dorm,TV,INT,PCs,Lavadoras,Refrigeradoes,Tel,Consolas,Autos,Ingreso corriente
0,Apodaca,1dorm,NoTVPaga,NoInternet,NoPC,Lavadora,Refri,NoTelefono,NoConsola,NoAuto,22405.34
1,Apodaca,2masdorm,NoTVPaga,NoInternet,NoPC,Lavadora,Refri,NoTelefono,NoConsola,Auto,28812.91
2,Apodaca,2masdorm,NoTVPaga,NoInternet,PC,Lavadora,Refri,Telefono,NoConsola,Auto,92008.55
3,Apodaca,2masdorm,TVPaga,Internet,PC,Lavadora,Refri,Telefono,NoConsola,Auto,77547.52
4,Apodaca,2masdorm,NoTVPaga,Internet,PC,Lavadora,Refri,Telefono,Consola,Auto,246393.36

In [22]:
df_ind.to_csv('data/Clean data/ind.csv')